{% from 'bootstrap5/utils.html' import render_messages %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    {{ bootstrap.load_css() }}
  </head>
  <body>
    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
    <script>
      liff
        .init({
          liffId: "{{ liff_id }}",
        })
        .then(() => {
          initializeApp();
          console.log('finished')
        })
        .catch((err) => {});
    </script>
    {% block content %}
      {{ render_messages(dismissible=True) }}
    {% endblock content %}
    {{ bootstrap.load_js() }}
  </body>
</html>
